.App { 

  display: grid;         
  place-items: center;    
  min-height: 100vh;       
  background-color: #f0f0f0;

}




.container { 
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 5px;
}
.error {
  color: rgb(235,87,87);
}



.login-form { 
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;

}

.login-form p {
  font-size: 2.5rem;
  color: #3A3A3A;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}


input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  width: 100%; 
  box-sizing: border-box; 
}


.button {
  padding: 10px 20px;
  /* background-color: #007bff;  #007bff; */
  background-color: #007bff;  
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;

}

