.app-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

.main-content {
  flex: 1;
  padding: 20px;
    margin-top:  10px;
  padding-top: 0px;
}
.mainName{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
}
.containerRow{

    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
}

.containerCol{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.containerCol::-webkit-scrollbar {
  display: none;
}

.simpleForm{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;

    overflow-wrap: anywhere;
}
.header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.hr {
    width: 100%;
    background: #D9D9D9;
    border: 0px;
    height: 1px;
  }

.course-block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #D9D9D9;
    cursor: pointer;
    text-align: center;
    border-radius: 50px; /* Радиус закругления для капсулы */


}

.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}



.centerpointModal {
    top: 20%;
    left: 50%;
    position: absolute;
    z-index: 1000;
}

dialog {
    position: relative;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr; 
  gap: 15px;

    width: 600px;
    margin-left: -300px;

    height:auto;

    background-color: #fff;  
    border-radius: 15px;     
  border: 3px solid #ccc;
}


.roundBtn
{
  border-Radius : 50%; 
  width : 30px; 
  height : 30px;
  cursor: pointer;
}

.headline
{
  font-size: 22px;
  margin: 0px;
  max-width: 50%;
}


